body {
	background-color: #548235
}

#banner {
	width: 100%;
}

.firstDiv {
	position: relative;
	height: 100px;
	padding: 0px;
}

#logo {
	position: absolute;
	float:left;
	height: 200%;
	margin: -40px;
	padding: 0px;
}

.miniDivs {
	height: 100px;
	position: relative;
	padding-right: 200px;
}

.btn {
	position: absolute;
	border-radius: 20px;
 	border-color: #A9D18E;
 	color: white;
 	background-color: #A9D18E;
 	padding: 20px 120px 10px 65px;
 	width: 8%;
 	font-family: "Century Gothic""Impact"  "Arial" ;
 	font-weight: bold;
 	font-size: 20px;
 	margin: 15px;
}

.bulbs {
	position: absolute;
	float: left;
	height: 90%;
}

#title {
	margin-top: 50px;
	margin-left: 550px;
}

#para {
	margin-left: 50px;
	margin-right: 50px;
}

#titles {
	margin-left: 500px;
}

#paras {
	margin-left: 50px;
	margin-right: 50px;
}

#parass {
	margin-left: 50px;
	margin-right: 50px;
}

#elec {
	width:350px;height:350px;border:8px solid green; 
	margin-left: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#elecs {
	width:350px;height:350px;border:8px solid green; 
	margin-right: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}
