

.bigDiv {
	position:relative;
	height: 300px;
	text-align: center;
}

.bigQuote {
	position: absolute;
	font-family: "Century Gothic" "Arial";
	color: white;
	font-size: 380%;
	width: 80%;
	margin-left: 8%;
	margin-top: 10%;
}

#bigQuote2 {
	position: absolute;
	font-size: 280%;
	width: 100%;
	top: -15%;
}


#apology {
	color:#F4B183;
}

.chords {
	position: absolute;
	width: 75%;
	
}

#pinkUSB1 {
	margin-top: 10%;
}

.chordBox {
	height: 110px;
	position: relative;
}

.textureBox {
	position: relative;
	height: 400px;
}

#firstParagraph {
	position: absolute;
	width: 70%;
	height: 75%;
	margin: 5% 0px;
}

.chordBox1 {
	text-align: right;
}

#yellowUSB1 {
	right: 0%;
	margin-top: 0%;
}

#ipod {
	height: 40%;
	margin: 22% 0px 0px 8%;
}

.lastParagraph {
	text-align: right;
}

#paragraphs {
	border: 4px dotted #AFDC7E;
	background-color: #92D050;
	border-radius: 20px;
}

#learnHow {
	font-family: "Century Gothic" "Arial";
	font-size: 22px;
	font-weight: bold;
	color: white;
	padding: 15px 10px;
}

.label {
	font-size: 22px;
	padding: 10px;
}

#paragraphDiv {
	position: absolute;
	width: 66%;
	top: 22%;
	left: 8%;
	font-size: 20px;
	font-family: "Century Gothic" "Arial";
}

.vidDiv {
	text-align: center;
}

#ewasteIntro {
	color: white;
}

ul {
	list-style-type: none;
	text-align: left;
	font-family: "Century Gothic";
	font-size: 18px;
	color: white;
}

.bigParagraph {
	padding-top: 5%;
	height: auto;
	min-height: 300px;
	overflow: hidden;
}

#typesOfEWaste {
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: "Century Gothic";
}
