body {
	background-color: #548235
}

#banner {
	width: 100%;
}



.firstDiv {
	position: relative;
	height: 100px;
	padding: 0px;
}

#logo {
	position: absolute;
	float:left;
	height: 200%;
	margin: -40px;
	padding: 0px;
}

.miniDivs {
	height: 100px;
	position: relative;
	padding-right: 200px;
}

.btn {
	position: absolute;
	border-radius: 20px;
 	border-color: #A9D18E;
 	color: white;
 	background-color: #A9D18E;
 	padding: 20px 120px 10px 65px;
 	width: 8%;
 	font-family: "Century Gothic""Impact"  "Arial" ;
 	font-weight: bold;
 	font-size: 20px;
 	margin: 15px;
}

.bulbs {
	position: absolute;
	float: left;
	height: 90%;
}

.bigDiv {
	position:relative;
	height: 300px;
	text-align: center;
}

#bigQuote {
	position: absolute;
	font-family: "Century Gothic" "Arial";
	color: white;
	font-size: 380%;
	width: 80%;
	margin-left: 8%;
	margin-top: 10%;
}

#apology {
	color:#F4B183;
}

.chords {
	position: absolute;
	width: 75%;
	
}

#pinkUSB1 {
	margin-top: 10%;
}

.chordBox {
	height: 110px;
	position: relative;
}

.textureBox {
	position: relative;
	height: 400px;
}

#firstParagraph {
	position: absolute;
	width: 70%;
	height: 270px;
	margin: 5% 0px;
}

.chordBox1 {
	text-align: right;
}

#yellowUSB1 {
	right: 0%;
	margin-top: 0%;
}

#ipod {
	height: 40%;
	margin: 22% 0px 0px 8%;
}

.lastParagraph {
	height: 500px;
	text-align: right;
}

#paragraphs {
	border: 4px dotted #AFDC7E;
	background-color: #92D050;
	height: 300px;
	border-radius: 20px;
}

#learnHow {
	font-family: "Century Gothic" "Arial";
	font-size: 22px;
	font-weight: bold;
	color: white;
	padding: 15px 10px;
}

.label {
	font-size: 22px;
	padding: 10px;
}


